

body{
    background-image: url('light-green-leaves-pattern-background.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 500px; 
}

 /*   background-color: rgb(121, 175, 121);
    border-radius: 10px;margin: 8px auto;
    padding: 8px;
    width: 980px;
    */




// Extra small devices (portrait phones, less than 576px)
@media (max-width: 575.98px) { ... }

// Small devices (landscape phones, less than 768px)
@media (max-width: 767.98px) { ... }

// Medium devices (tablets, less than 992px)
@media (max-width: 991.98px) { ... }

// Large devices (desktops, less than 1200px)
@media (max-width: 1199.98px) { ... }

// Extra large devices (large desktops)
// No media query since the extra-large breakpoint has no upper bound on its width


/*
<!-- En navigationsmeny där man kan välja-->
    <nav class="navbar">
      <a href="#">Om mig</a>
      <a href="#">Arbete</a>
      <a href="#">Fritid</a>
      <a href="#">Kontakt</a>
    </nav> 
    
    .navbar {
    padding: 1em;
    background-color: rgb(121, 175, 121);
    
}

.navbar a {
    display: inline-block;
    padding: 0.5em 1em;
    border: 1px solid black;
    text-decoration: none;
}*/

    /*<img src="light-green-leaves-pattern-background.jpg" class="img-fluid" alt="Responsive image"> 